/*global CSS*/

html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	width: 100%;
	/*footer at the end of the page*/
/*	display: flex;
	flex-direction: column;
	justify-content: space-between;*/
}

.title {
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.teko {
	font-family: 'Teko', sans-serif;
}

.invisible {
	display: none;
}

.visible {
	display: visible;
}

.subtitle {
	text-align: center;
	border: 1px solid black;
}

.underline {
	text-decoration: underline;
}

.clickable-icon {
	cursor: pointer;
}

/*specifc CCS for header and footer*/

.navbar-nav .nav-item {
	padding-left: 10px;
	padding-right: 10px;
}

.footer {
	margin-top: 15px;
	border: 0.1px solid;
}

.footer p {
	text-align :center;
	color: white;
}

.bg-color {
	background-color: #5DADEC;
}

.bg-color-2 {
	background-color: #f2f9ff;
}

.border-smooth {
	border-radius: 15px;
}

/*specific CSS for home.html*/

.con-home-1, .con-home-2, .con-home-3 {
	max-width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#news img {
	width:100%;
}

.ro-home-1, .ro-home-2, .colo-home-1, .colo-home-2 {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.colo-home-1, .colo-home-2 {
	border: 0.5px solid black;
}

#bestsellers, .ro-home-2 {
	background-color: #E0E0E0;
}

#bestsellers {
	width: 100%;
	height: 93%;
}

.cover {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 576px) {
	.cover {
		max-height: 50vh;
	}
}

/*specific CSS for log.html and sign.html*/

.container-sign, .container-log {
	max-width: 100%;
}

.row-sign, .row-log {
	margin-left: 1px;
	margin-right: 1px;
}

.col-sign-1, .col-log-1 {
	border: 1px solid black;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
}

/*.col-sign-1 {
	border: 1px solid blue;
}

.col-sign-2 {
	border: 1px solid green;
}*/

.col-sign-2, .col-log-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*
.col-sign img {
	max-width: 75vw;
	max-height: 75vh;
}

@media (max-width: 576px) {
	.container-log {
		width: 230px;
	}
}
*/

/*specific CSS for catalogue.html*/

.con-catalogue {
	max-width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.ro-catalogue-1 {
	max-width: 100%;
	margin: 0 0 0 0;
}

.ro-catalogue-2, .ro-catalogue-3, .filter {
	border: 1px solid black;
}

.filter {
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 15px;
}

.ro-catalogue-3 {
	margin-top: 5px;
}

.ro-catalogue p {
  margin-bottom: 0;
}

.ro-catalogue {
	padding: 5px;
}

.col-catalogue-1, .col-catalogue-2 {
	display: flex;
	flex-direction: column;
	height: 170px;
	justify-content: center;
	border-right: solid 1px black;
}

.col-catalogue-1 {
	border-left: solid 1px black;
}

.col-price {
	text-align : center;
}

.rating-stars ul {
	list-style-type: none;
	padding: 0;
}

.rating-stars ul > li.star {
	display: inline-block;
}

.rating-stars ul > li.star > i.fas {
	color: #ccc;
}

.rating-stars ul > li.star.hover > i.fas {
	color: #FFCC36;
}

.rating-stars ul > li.star.selected > i.fas {
	color: #FF912C;
}

#range {
	border: 0;
}

/*specific CSS for account.html*/

.container-account {
	max-width: 100%;
}

.row-account {
	margin-left: 1px;
	margin-right: 1px;
}

.col-account-1 {
	border: 1px solid black;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.col-account-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*
.container-account {
	margin-left: 10px;
	width: 50vw;
	padding: 10px;
	border: 1px solid black;
}

@media (max-width: 576px) {
	.container-account {
		width: 230px;
	}
}
*/

.account-button div, .civility div, .birthday *, .buttons div {
	display: inline-block;
}

/*specific CSS for game.html*/

.container-game-1, .container-game-2 {
	border: 1px solid black;
}

.price {
	text-align: center;
}

.basket-button .btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container-game-1 {
	margin-top: 25px;
	padding: 10px;
}

.container-game-2 {
	margin-top: 5px;
	padding: 10px;
}

.container-game-2 video {
	display: block;
	margin: auto;
}

video {
	max-width: 100%;
}

/*specific CSS for basket.html*/

.col-basket-1, .col-basket-2 {
	border: 1px solid black;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.col-basket-2 {
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	text-align: center;
}

.pay, .delete {
	padding: 5px 0;
}
