html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	width: 100%;
}

/*CSS for header.html*/

.navbar-nav .nav-item {
	padding-left: 10px;
	padding-right: 10px;
}

.con-1, .con-2, .con-3 {
	max-width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#news {
	
	width: 100%;
}

#news img {
	width:100%;
}

.ro-1, .ro-2, .colo-1, .colo-2 {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.colo-1, .colo-2 {
	border: 0.5px solid black;
}

.title {
	text-align: center;
	border: 1px solid black;
}

.line {
	text-decoration: underline;
}

#bestsellers, .ro-2 {
	background-color: #E0E0E0;
}

#bestsellers {
	width: 100%;
	height: 93%;
}

.cover {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	border: 0.1px solid;
}

.footer p {
	text-align :center;
	color: white;
}

/*CSS for log.html and sign.html*/

.title-log {
	margin-top: 25px;
	margin-left: 25px;
}

.log {
	margin-left: 10px;
	margin-top: 25px;
}

.missing {
	display: none;
	margin-top: 5px;
}

.missing-show {
	color:black;
	margin-top: 5px;
}

.warning {
	display: none;
}

.warning-show {
	display: visible;
}

input.invalid {
	border: 4px solid red;
}

input.valid {
	border: 4px solid green;
}

/*CSS for catalogue.html*/

.con-catalogue {
	max-width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.ro-10 {
	max-width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.ro-11, .ro-12, .filter {
	border: 1px solid black;
}

.filter {
	border: 1px solid black;
	padding-left: 15px;
	padding-right: 15px;
}

.ro-12 {
	margin-top: 5px;
}

.invisible {
	display: none;
}

.visible {
	display: visible;
}

/*CSS for rating system*/

.rating-stars ul {
	list-style-type: none;
	padding: 0;
}

.rating-stars ul > li.star {
	display: inline-block;
}

.rating-stars ul > li.star > i.fas {
	color: #ccc;
}

.rating-stars ul > li.star.hover > i.fas {
	color: #FFCC36;
}

.rating-stars ul > li.star.selected > i.fas {
	color: #FF912C;
}

#range {
	border: 0;
}

/*CSS for account.html*/

.form-account {
	border: 1px solid black;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.account-button div, .civility div, .birthday div, .buttons div {
	display: inline-block;
}

.con-account {
	margin-top: 25px;
	margin-left: 10px;
}

/*CSS for game.html*/

.con-game, .con-trailer {
	border: 1px solid black;
}

.price {
	text-align: center;
}

.basket-button .btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.con-game {
	margin-top: 25px;
	padding: 10px;
}

.con-trailer {
	margin-top: 5px;
	padding: 10px;
}

.con-trailer video {
	display: block;
	margin: auto;
}

/*CSS for basket.html*/

.colo-40 {
	border: 1px solid red;
}

.colo-41 {
	border: 1px solid blue;
}

.colo-43 {
	border: 1px solid black;
	text-align: center;
}

.pay, .delete {
	padding: 5px 0;
}