/*global CSS*/

html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	width: 100%;
	/*footer at the end of the page*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	margin-top: 25px;
	margin-left: 25px;
}

.invisible {
	display: none;
}

.visible {
	display: visible;
}

.subtitle {
	text-align: center;
	border: 1px solid black;
}

.underline {
	text-decoration: underline;
}

.clickable-icon {
	cursor: pointer;
}

/*specifc CCS for header and footer*/

.navbar-nav .nav-item {
	padding-left: 10px;
	padding-right: 10px;
}

.footer {
	border: 0.1px solid;
}

.footer p {
	text-align :center;
	color: white;
}

/*specific CSS for home.html*/

.con-home-1, .con-home-2, .con-home-3 {
	max-width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#news img {
	width:100%;
}

.ro-home-1, .ro-home-2, .colo-home-1, .colo-home-2 {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.colo-home-1, .colo-home-2 {
	border: 0.5px solid black;
}

#bestsellers, .ro-home-2 {
	background-color: #E0E0E0;
}

#bestsellers {
	width: 100%;
	height: 93%;
}

.cover {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 576px) {
	.cover {
		max-height: 50vh;
	}
}

/*specific CSS for log.html and sign.html*/

.container-log, .container-sign {
	margin-left: 10px;
	margin-top: 25px;
}

.missing {
	display: none;
	margin-top: 5px;
}

.missing-show {
	color: black;
	margin-top: 5px;
}

/*specific CSS for catalogue.html*/

.con-catalogue {
	max-width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.ro-catalogue-1 {
	max-width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.ro-catalogue-2, .ro-catalogue-3, .filter {
	border: 1px solid black;
}

.filter {
	border: 1px solid black;
	padding-left: 15px;
	padding-right: 15px;
}

.ro-catalogue-3 {
	margin-top: 5px;
}

.ro-catalogue p {
  margin-bottom: 0;
}

/*specific CSS for rating system*/

.rating-stars ul {
	list-style-type: none;
	padding: 0;
}

.rating-stars ul > li.star {
	display: inline-block;
}

.rating-stars ul > li.star > i.fas {
	color: #ccc;
}

.rating-stars ul > li.star.hover > i.fas {
	color: #FFCC36;
}

.rating-stars ul > li.star.selected > i.fas {
	color: #FF912C;
}

#range {
	border: 0;
}

/*specific CSS for account.html*/

.form-account {
	border: 1px solid black;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.account-button div, .civility div, .birthday *, .buttons div {
	display: inline-block;
}

.con-account {
	margin-top: 25px;
	margin-left: 10px;
}

/*specific CSS for game.html*/

.con-game-1, .con-game-2 {
	border: 1px solid black;
}

.price {
	text-align: center;
}

.basket-button .btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.con-game-1 {
	margin-top: 25px;
	padding: 10px;
}

.con-game-2 {
	margin-top: 5px;
	padding: 10px;
}

.con-game-2 video {
	display: block;
	margin: auto;
}

video {
	max-width: 100%;
}

/*specific CSS for basket.html*/

.pay, .delete {
	padding: 5px 0;
}
