<div class="title">
	<h1>Mon panier</h1>
</div>

<div class="container container-cart">
	<div class="row align-items-center row-cart">

		<!--game #1-->
		<div class="col-md-10 col-cart-1 border-smooth">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-3">
						<a class="img-link" href="game">
							<img class="cover border-smooth" src="./assets/pictures/sm-cover-sm.png" alt="Spider-Man" />
						</a>
					</div>

					<div class="col-md-3 col-cart-3">
						<p>
							Spider-Man<br>
							<span class="underline">Editeur :</span> Sony<br>
							<span class="underline">Développeur :</span> Insomniac Games<br>
						</p>
					</div>

					<div class="col-md-3 col-cart-4">
						<p>
							<span class="underline">Plateforme :</span> Playstation 4<br>
							<span class="underline">Date de sortie :</span> 07/09/18<br>
							<span class="underline">Note :</span><br>
						</p>
					</div>

					<div class="col-md-3 col-price">
						<p>54€99</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2 col-cart-2 border-smooth">
			<div class="row align-items-center">
				<div class="col-md-6">
					<input type="number" class="form-control num" value="1" />
				</div>

				<!--pay button-->
				<div class="col-md-6">
					<div class="submit-button pay">
						<button type="submit" class="btn btn-primary btn-pay">
							<i class="fas fa-euro-sign"></i>
						</button>
					</div>

					<!--delete button-->
					<div class="submit-button delete">
						<button type="submit" class="btn btn-primary btn-delete">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
