{% extends "masterPage.twig" %}
{% block body %}

<!--error code-->
<div class="title">
	<h1>Erreur 404</h1>
</div>

<!--error description-->
<div class="container container-error">
	<p>Cette page n'existe pas !</p>
</div>

{% endblock %}