<div class="title">
	<h1>Fiche produit</h1>
</div>

<!--game description-->
<div class="container container-game-1 border-smooth">
	<div class="row align-items-center">
		<div class="col-md-6">
			<img class="cover border-smooth" src="./assets/pictures/sm-cover.png" alt="Spider Man" />
		</div>

		<div class="col-md-6">
			<div class="row align-items-center">
				<div class="col-md-6">
					<p>
						Spider-Man<br>
						<span class="underline">Editeur :</span> Sony<br>
						<span class="underline">Développeur :</span> Insomniac Games<br>
					</p>
				</div>

				<div class="col-md-6">
					<p>
						<span class="underline">Plateforme :</span> Playstation 4<br>
						<span class="underline">Date de sortie :</span> 07/09/18<br>
						<span class="underline">Note :</span><br>
					</p>
				</div>
			</div>

			<p>
				<span class="underline">Synopsis :</span> New-York a besoin de son plus grand héros : Spider-Man !
				Alors qu'une menace sans précédent s'apprête à frapper sa ville, tiraillé entre sa vie personnelle
				et son devoir de super-héros, l'homme-araigné va devoir devenir plus fort, sous peine d'en
				payers les terribles conséquences...
			</p>

			<p class="col-price">49€99</p>

			<div class="basket-button">
				<button type="submit" class="btn btn-primary">Mettre dans le panier</button>
			</div>
		</div>
	</div>
</div>

<!--game trailer-->
<div class="container container-game-2 border-smooth">
	<h4>
		<span class="underline">Trailer</span>
	</h4>

	<video width="720" height="480" class="clickable-icon border-smooth" controls src="./assets/videos/sm-trailer.mp4" alt="Spider Man">
</div>
