	<div class="title">
		<h1>Créer un compte</h1>
	</div>

	<div class="container container-sign">
		<div class="row row-sign">
			<div class="col-md-6 col-sign-1 border-smooth">
				<form class="form-sign" action="#" novalidate>
					<div class="form-group">
						<label for="email">Votre adresse mail :</label>
						<input type="email" class="form-control email sign invalid" name="email" id="email">
						<i class="fas fa-thumbs-down"></i>
						<span>Veuillez indiquer une adresse mail</span>
					</div>

					<div class="form-group">
						<label for="pwd">Votre mot de passe :</label>
						<input type="password" class="form-control pwd sign invalid" name="pwd" id="pwd">
						<i class="fas fa-thumbs-down"></i>
						<span>Votre mot de passe doit être composé de 6 caractères minimum (au moins 1 majusule et 1 chiffre)</span>
					</div>

					<div class="form-group">
						<label for="vpwd">Confirmer votre mot de passe :</label>
						<input type="password" class="form-control vpwd sign invalid" name="vpwd" id="pwd">
						<i class="fas fa-thumbs-down"></i>
						<span>Les mots de passe ne correspondent pas</span>
					</div>

					<div class="submit-button">
						<button type="submit" class="btn btn-primary sign-submit invisible">Créer un compte</button>
					</div>
				</form>
			</div>

			<div class="col-md-6 col-sign-2">
				<img class="cover border-smooth" src="./assets/pictures/sign.jpg" alt="sign-picture" />
			</div>
		</div>
	</div>
