	<div class="title">
		<h1>Mon compte</h1>
	</div>

	<div class="container container-user">
		<p>Ici repose les informations de <strong class="civility">Sir</strong> <strong class="fname">Martin</strong> <strong class="name">Heitz</strong>, aka <strong class="pseudo">sylvestreee</strong> !</p>
		<p>Preux gamer né(e) le <strong class="birthday">01/01/1997</strong>, muni(e) de son adresse mail <strong class="email">martin.heitz@etu.unistra.fr</strong>, qui s'en va continuer à vivre des aventures éprouvantes mais palpitantes, alors que d'autres viennent de se terminer et que d'autres encore se profilent à l'horizon... <i class="fas fa-gamepad"></i></p>



		<a href="account">Modifier mon compte</a>
	</div>
